<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()" #formDir="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input email [ngClass]="email.errors && formDir.submitted ? 'form-control is-invalid' : 'form-control'" id="email" aria-describedby="emailHelp" placeholder="Email" type="email" formControlName="email">
    <div class="invalid-feedback">Please enter a valid email</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [ngClass]="password.errors && formDir.submitted ? 'form-control is-invalid' : 'form-control'" id="password" aria-describedby="emailHelp" placeholder="Password" type="password" formControlName="password">
    <div class="invalid-feedback">Please enter a valid password</div>
  </div>
  <div class="form-check stay-logged-in">
    <input type="checkbox" class="form-check-input" id="stayLoggedIn" formControlName="stayLoggedIn">
    <label class="form-check-label" for="stayLoggedIn">Stay logged in</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>