<!--
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            Task
        </button>
    </div>
</div>

-->

<br>

<div class="row">
    <div class="col-xs-12">

        <!-- Here we can get the input data with the binding -->
        <app-task-edit (taskCreated)="onTaskAdded($event)"></app-task-edit>

        <br>

        <a 
         href="#"
         class="list-group-item clearfix"
         *ngFor="let task of tasks">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ task.task }}<span class="badge badge-primary badge-pill">14</span></h4>
                <p class="list-group-item-text">{{ task.description }}</p>
            </div>

    
        </a>




    </div>
</div>

