

<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="name">Task</label>
                    <input type="text" id="name" class="form-control" [(ngModel)]="newTask">
                </div>
                <div class="col-sm-5 form-group">
                    <label for="amount">Description</label>
                    <input type="text" id="amount"  class="form-control" [(ngModel)]="newDescription">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="priority">Priority</label>
                    <input type="Number" id="priority" class="form-control"  [(ngModel)]="newPriority">
                </div>
                <div class="col-sm-2 form-group">
                    <br>
                    <button 
                      class="btn btn-primary" 
                      (click) = "addTask()">Add</button>
                  
                </div>


            </div> 
        </form>
    </div>
</div>
